:root {
    --repeatedColor1: #FBE8A6;
    --repeatedColor2: #F4976C;
    --repeatedColor3: #303C6C;
    --repeatedColor4: #B4DFE5;
    --repeatedColor5: #D2FDFF;
  }

html   {
    box-sizing: border-box;
    font-size: 65.5%;
    scroll-behavior: smooth;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    background-color: var(--repeatedColor1);
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--repeatedColor3);
    
    
}  

/* text */

h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 !important;
  }
  
  p {
    margin: 0 !important;
  }

  h1 {
    font-size: 6rem !important;
  }

  h2 {
    font-size: 4.2rem !important;
  }

  h3 {
    font-size: 3.2rem;
  }



  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--repeatedColor3);
  }

  /* h1 {
    font-size: 6rem !important;
  } */

/* body */

.body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--repeatedColor3);
}

/* navbar */

.customNav {
    position: fixed;
    width: 100%;
    background: var(--repeatedColor2) !important;
    z-index: 10;
    /* opacity: 0.9; */
    border-bottom: 0.3rem solid var(--repeatedColor3);
}

.customNav a {
  color: var(--repeatedColor3) !important;
  font-size: 2.6rem;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.title {
  font-size: 2.6rem;
  color: var(--repeatedColor3) !important;
}

/* hero-banner */

/* .heroBanner {
    background-image: url(../images/Pawel\ hero\ pic.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
} */

.heroBackground {
    background-image: url(../images/Pawel\ hero\ pic.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
    /* height: calc(100vh - 25px); */
    display: flex;
    align-items: flex-end;
    justify-content: left;
    padding-bottom: 40px;
    color: var(--repeatedColor5);
    margin-bottom: 0%;
}

.container p {
  font-size: 2.6rem !important;
  font-style: italic;
}

/* section content */

.pageWrapper {
    background-color: var(--repeatedColor4);
    border-top: 5px solid var(--repeatedColor5);
    width: 100%;
}

/* .cusContainer {
  width: 100%;
} */

/* about me */

.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  min-width: 150px;
  border-right: 5px solid var(--repeatedColor3);
  padding-top: 20px;
  padding-bottom: 180px;
  margin-top: 20px;
  padding-right: 15px;
  font-size: 4.2rem;
}

.contentAboutMe {
  display: flex;
  justify-content:center;
  text-align: justify;
  margin-top: 20px;
  padding: 20px 50px 20px 50px;
}

.contentAboutMe p {
  font-size: 2.2rem;
  /* margin: 4rem 8rem 4rem 7rem !important; */

}


/* work */

.custWork {
  margin-top: 20px;
}

.work {
  border-right: 5px solid var(--repeatedColor3);
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 4.2rem;
  padding-top: 20px;
  margin-top: 20px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.contentWork {
  /* margin-top: 15px; */

}
/* cards with projects */

.content {
  padding: 30px;
}

.cardContainer {
  text-align: center;
  /* max-height: 400px; */
}

.card-img-top {
  min-height: 300px;
}

.card {
  background-color: var(--repeatedColor5);
  margin: 20px;
}

/* skills */




/* footer */


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 200;
    background-color: var(--repeatedColor2);
    color: var(--repeatedColor3);
}

